@import url('https://fonts.googleapis.com/css?family=Oswald');
/***/
/*BODY*/
/***/
body
{
    background-color: rgb(78, 75, 75);
}

#title
{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 3em;
    margin: 0 auto;
}

/***/
/*BUTTONS*/
/***/
button
{
    border: 1px solid white;
    border-radius: 2px;
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    margin-bottom: 10px;
    
}

button a
{
    text-decoration: none;
}

button a:visited
{
    color: black;
}

/***/
/*SIDEBAR*/
/***/
.horizontalLine
{
    margin: 25px 0;
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
}

.vertBar
{
    height: 75vh;
    width: 2px;
    background: #fff;	
    background: linear-gradient(180deg, transparent, white, transparent);
    background-size: 1px 75vh;
}

.sideText
{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.sideText button
{
    display: block;
    margin: 10px auto;
}
/***/
/*PHASE ONE*/
/***/
.creationPage
{
    display: flex;
    flex-direction: row;
}

.buttonSelectors
{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    color: white;
}

.controlButtons
{
    margin-right: 30px;
}

.sidebar
{
    order: -1;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    min-width: 200px;
}

.sidebar h2
{
    text-align: center;
    font-size: 2em;
    padding-right: 10px;
}

.square
{
    
}

.circle
{
    border: 1px solid white;
    border-radius: 50%;
    background-color: blue;
}

.small
{
    width: 100px;
    height: 100px;
}
.large
{
    width: 300px;
    height: 300px;
}

.red
{
    background-color: red;
}

.blue
{
    background-color: blue;
}

.full
{
    opacity: 1;
}

.partial
{
    opacity: .5;
}